*{
	padding: 0px;
	margin: 0px;
}

body, html {
	height: 100%;
}

.container{
	background-image: url(../images/s1200.jpg);
	height: 100%; 
	background-repeat: no-repeat;
}

.variant{
	display: inline-block;
	border: 3px solid white;
	background: black;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	position: relative;
	top: 90%;
	left: 45%;
}

.selected{
	background: red;
	box-shadow: 0px 0px 5px 5px white;
}